// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Calibri Light', sans-serif;
$header-font-sans-serif: 'Libre Franklin', sans-serif;
$bs-body-font-family: 'Poppins', sans-serif;
// $font-size-base: 0.7rem;
$font-size-base: 1rem;
$line-height-base: 1.6;

$primary: #131741;
$sub-primary: #131741;
$secondary: #6c757d;
$sub-secondary: #f1f4f6;
$success: #28a745;
$danger: #ea2429;
$warning: #ffc107;
$sub-warning: #f2e9e4;
$info: #0dcaf0;
$light: #f8f9fa;
$dark: #535454;
$black: #000000;
$sub-black: #1d2630;
$botejyu: #a53860;
$sub-body: #f1f9ff;

$badge-colors: (
    primary: $primary,
    success: $success,
    danger: $danger,
    warning: $warning,
    info: $info,
);