@import './body/body.scss';
@import './input/input.scss';
@import './webkit/scrollbar.scss';
@import './input/input.scss';
@import './button/button.scss';
@import './list/list.scss';
@import './text/text.scss';


.bg-sub-primary {
    background-color: $sub-primary !important;
}

.bg-sub-warning {
    background-color: $sub-warning;
}

.bg-sub-section {
    background-color: $sub-secondary;
}

.border-primary {
    border-color: rgba($sub-primary, 0.4) !important;
}

.shadow-md {
    box-shadow: 6px 8px 1px #dae2e7 !important;
}

.bg-sub-secondary {
    background-color: $sub-secondary;
}
#sticky-header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030; /* high enough to sit above everything */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


@import './gradient/box.scss';
@import './brochure/brochure.scss';
@import './login/login.scss';
@import './select/select.scss';
@import './menu/menu.scss';

