* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $bs-body-font-family;
}

body {
    font-size: $font-size-base;
    background-color: $light;
    color: $black;
    font-family: $bs-body-font-family;
    overflow-x: hidden;
}


@media (max-width: 2560px) {
    body {
      font-size: $font-size-base * 1.2;  // Increase font size for large screens
    }
  }

  @media (max-width: 1680px) {
    body {
      font-size: $font-size-base * 0.9;  // Slightly smaller font size for medium-large screens
    }
  }

  @media (max-width: 1440px) {
    body {
      font-size: $font-size-base * 0.9;  // Slightly smaller font size for medium screens
    }
  }

  @media (max-width: 1320px) {
    body {
      font-size: $font-size-base * 0.9;  // Default size for regular screens
    }
  }

  @media (max-width: 1230px) {
    body {
      font-size: $font-size-base * 0.9;  // Smaller font for slightly smaller screens
    }
  }

  @media (max-width: 1024px) {
    body {
      font-size: $font-size-base * 0.9;  // Smaller font for tablets or smaller screens
    }
  }

  @media (max-width: 768px) {
    body {
      font-size: $font-size-base * 0.9;  // Further reduced font for mobile screens
    }
  }

  @media (max-width: 640px) {
    body {
      font-size: $font-size-base * 0.9;  // Even smaller for smaller mobile screens
    }
  }

  @media (max-width: 475px) {
    body {
      font-size: $font-size-base * 0.9;  // Minimum font size for very small screens
    }
  }
