.text-justify {
  text-align: justify;
}
.text-sub-primary {
  color: $sub-primary!important;
}
.fs-7 {
  font-size: 14px!important;
}
.fs-8 {
  font-size: 12px!important;
}
.text-indent {
  text-indent: 42px;
}

// Custom Media Queries to change font sizes of heading tags (h1, h2, etc.)
@media (max-width: 2560px) {
    h1 {
      font-size: 2.8rem; // Larger font size on large screens
    }
    h2 {
      font-size: 2.3rem;
    }
    h3 {
      font-size: 2rem;
    }
    h4 {
      font-size: 1.4rem;
    }
    h5 {
      font-size: 1.3rem;
    }
    h6 {
      font-size: 1.1rem;
    }
    p {
      font-size: 1.1rem;  // Larger paragraph text on large screens
    }
    a {
      font-size: 1.1rem;  // Adjust link text size
    }
  }

  @media (max-width: 1680px) {
    h1 {
      font-size: 2.375rem;
    }
    h2 {
      font-size: 1.9rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.45rem;
    }
    h5 {
      font-size: 1.2rem;
    }
    h6 {
      font-size: 0.95rem;
    }
    p {
      font-size: 1rem;
    }
    a {
      font-size: 1rem;
    }
    .form-control {
        font-size: 0.9rem;
    }
    .form-select {
        font-size: 0.9rem;
    }
    .select2-container--bootstrap-5 .select2-selection {
        font-size: 0.9rem;
    }

  }

  @media (max-width: 1200px) {
    h1 {
      font-size: 1.8rem;
    }
    h2 {
      font-size: 1.6rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.3rem;
    }
    h5 {
      font-size: 1.2rem;
    }
    h6 {
      font-size: 1.1rem;
    }
    p {
      font-size: 1rem;
    }
    a {
      font-size: 1rem;
    }
  }

  @media (max-width: 992px) {
    h1 {
      font-size: 1.75rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.4rem;
    }
    h4 {
      font-size: 1.3rem;
    }
    h5 {
      font-size: 1.2rem;
    }
    h6 {
      font-size: 1.1rem;
    }
    p {
      font-size: 1rem;
    }
    a {
      font-size: 1rem;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.3rem;
    }
    h3 {
      font-size: 1.2rem;
    }
    h4 {
      font-size: 1.1rem;
    }
    h5 {
      font-size: 1rem;
    }
    h6 {
      font-size: 0.95rem;
    }
    p {
      font-size: 0.95rem;
    }
    a {
      font-size: 0.95rem;
    }
  }

  @media (max-width: 576px) {
    h1 {
      font-size: 1.25rem;
    }
    h2 {
      font-size: 1.1rem;
    }
    h3 {
      font-size: 1rem;
    }
    h4 {
      font-size: 0.95rem;
    }
    h5 {
      font-size: 0.9rem;
    }
    h6 {
      font-size: 0.85rem;
    }
    p {
      font-size: 0.875rem;
    }
    a {
      font-size: 0.875rem;
    }
  }
