/* latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/libre-franklin/files/libre-franklin-latin-400-normal.woff2) format('woff2'),
         url(https://fonts.bunny.net/libre-franklin/files/libre-franklin-latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301,
                   U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
                   U+2191-2193, U+2212-2215, U+FEFF, U+FFFD;
  }

  /* cyrillic */
  @font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/libre-franklin/files/libre-franklin-cyrillic-400-normal.woff2) format('woff2'),
         url(https://fonts.bunny.net/libre-franklin/files/libre-franklin-cyrillic-400-normal.woff) format('woff');
    unicode-range: U+0400-052F;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/libre-franklin/files/libre-franklin-latin-ext-400-normal.woff2) format('woff2'),
         url(https://fonts.bunny.net/libre-franklin/files/libre-franklin-latin-ext-400-normal.woff) format('woff');
    unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323-0329;
  }

  /* vietnamese */
  @font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/libre-franklin/files/libre-franklin-vietnamese-400-normal.woff2) format('woff2'),
         url(https://fonts.bunny.net/libre-franklin/files/libre-franklin-vietnamese-400-normal.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0,
                   U+0300-0301, U+0303-0304, U+0308-0309, U+0323-0329, U+1EA0-1EF9;
  }

  /* cyrillic-ext */
  @font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/libre-franklin/files/libre-franklin-cyrillic-ext-400-normal.woff2) format('woff2'),
         url(https://fonts.bunny.net/libre-franklin/files/libre-franklin-cyrillic-ext-400-normal.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF;
  }
