.page-link,
.page-link:hover{
    color: #6c757d;
}
.page-link.active, .active > .page-link:hover {
    color: #fff;
}

.page-link.active, .active > .page-link {
    background-color: #e9ecef;
    border-color: #6c757d;
}
