.badge-primary {
	background-color: rgba($primary, 0.3);
	color: $primary;
}
.badge-success {
	background-color: rgba($success, 0.3);
	color: $success;
}
.badge-danger {
	background-color: rgba($danger, 0.3);
	color: $danger;
}
.badge-warning {
	background-color: rgba($warning, 0.3);
	color: $warning;
}
.badge-sub-warning {
	background-color: rgba(255, 82, 6, 0.2);
	color: #ff5206;
}
.badge-info {
	background-color: rgba($info, 0.3);
	color: $info;
}