#navbar {
    width: 100%;
    background: #1e1e1e;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    margin: 0;
}

#navbar .navbar-header {
    width: 100%;
    padding: 0 30px;
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
}

#navbar .log-sec {
    width: 250px;
    margin-right: 30px;
}

#navbar .log-sec .logo img {
    height: 75px;
    width: auto;
    object-fit: contain;
}


#navbar .navbar-toggle {
    display: none;
}

#navbar-collapse ul {
    margin: 20px 0;
}

#navbar-collapse ul li {
    display: inline-block;
    padding: 0 15px;
}

#navbar-collapse ul li a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #847558;
    transition-duration: 0.8s;
    transition-delay: 0.2s;
}

#navbar-collapse ul li a.active,
#navbar-collapse ul li a:hover {
    color: #fff;
}


















@media only screen and (max-width: 1137px) {
    #block-botejyu-main-menu ul li {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 1141px) {}

@media only screen and (max-width: 1127px) {
    #navbar .navbar-header .logo img {
        height: 60px;
    }
}

@media only screen and (max-width: 1096px) {
    #navbar .navbar-header .logo img {
        height: 60px;
    }
}

@media only screen and (max-width: 1096px) {
    #block-botejyu-main-menu ul li a {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1043px) {
    #block-botejyu-main-menu ul li {
        padding: 0 8px;
    }
}

@media only screen and (max-width: 1019px) {
    #block-botejyu-main-menu ul li {
        padding: 0 6px;
    }

    #block-botejyu-main-menu ul li a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 970px) {
    #block-botejyu-main-menu ul li {
        padding: 0 5px;
    }
}

@media only screen and (max-width: 932px) {
    #navbar .log-sec {
        width: 200px;
    }

    #navbar .navbar-header .logo {
        padding-right: 0;
    }

    #navbar .navbar-header .logo img {
        height: 50px;
    }

    #block-botejyu-main-menu ul {
        text-align: center;
    }

    #block-botejyu-main-menu ul li {
        padding: 0 5px;
    }
}

@media only screen and (max-width: 887px) {
    #block-botejyu-main-menu ul li {
        padding: 0 5px;
    }
}

@media only screen and (max-width: 865px) {
    #block-botejyu-main-menu ul li a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 827px) {
    #block-botejyu-main-menu ul li {
        padding: 0 3px;
    }
}

@media only screen and (max-width: 773px) {
    #block-botejyu-main-menu ul {
        margin: 10px 0;
        padding-left: 0;
    }
}

@media only screen and (max-width: 767px) {

    /* NAVBAR COLLAPESE */
    #navbar {
        padding: 0;
    }

    #navbar .navbar-header {
        padding: 10px 15px
    }

    #navbar .navbar-toggle {
        display: block;
        width: 30px;
        height: 30px;
        z-index: 1;
        border: 1px solid red;
        right: 15px;
        position: absolute;
        top: 0;
        margin-top: 16px;
        margin-bottom: 16px;
        // /*background-color: #e1c9a7;*/
        // background-color: transparent;
        // /*border-color: #d92424;*/
        // border-color: transparent;
    }

    #navbar .navbar-header .logo img {
        height: 60px;
    }

    #navbar .navbar-toggle .icon-bar {
        background-color: #d92424;
    }

    #navbar-collapse {
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 80px;
        background: rgb(30, 30, 30);
        border-top: 0px;
        left: 0;
        padding: 0 15px;
        display: none;
        overflow: hidden;
        height: 0;
        transition: height 0.3s ease;
    }

    #block-botejyu-main-menu {
        float: unset;
        max-width: 100%;
    }

    #block-botejyu-main-menu ul {
        padding: 15px 0;
        text-align: left;
    }

    #block-botejyu-main-menu ul li {
        padding: 10px 0;
        display: block;
        position: relative;
    }

    #block-botejyu-main-menu ul li a {
        font-size: 14px;
    }

    #block-botejyu-main-menu ul li a::after {
        content: "\f061";
        font-family: 'FontAwesome';
        position: absolute;
        right: 15px;
        top: 0;
        border: 1px solid #847558;
        padding: 2px 6px;
        border-radius: 50%;
        font-size: 14px;
    }

    #block-botejyu-main-menu ul li a.is-active::after {
        border: 1px solid white;
    }

    #block-botejyu-main-menu ul li a:hover::after {
        right: 10px;
        transition-duration: 0.8s;
        transition-delay: 0.2s;
    }

    #navbar .navbar-toggle {
        border: 0;
        background-color: transparent;
    }

    #navbar .navbar-toggle span.icon-bar {
        background-color: red;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        margin-bottom: 5px;
    }

    #navbar .navbar-toggle span:nth-child(even) {
        margin-left: 3px;
    }

    #navbar .navbar-toggle span:nth-child(odd) {
        margin-left: -3px;
    }
}


@media only screen and (max-width: 600px) {}