.header-bg {
    background-image: url(../../public/storage/project_images/building_shadow.png) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: bottom !important;
}

.nav-logo {
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 50px;
}

.dashboard-logo {
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 80px;
    display: block;
    margin: 0 auto;
}