@media (max-width: 2560px) {}

@media (max-width: 1680px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1320px) {
}

@media (max-width: 1230px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 475px) {
}
