#sidebar-menu{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    width: 300px;
    position: fixed;
    margin-left: -300px;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    background-color: white;
}

.list-unstyled {
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
}

#sidebar-menu.active-sidebar-menu {
    margin-left: 0;
}

#sidebar-menu .sidebar-header{
padding: 20px;
text-align: center;
}

.submenu {
    padding-left: 24px;
}

#sidebar-menu #nav_accordion{
    /* margin-top: 50px; */
}

#sidebar-menu ul li a{
    padding: 5px 5px 5px 10px;
    display: block;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #dddddd;
    font-size: 0.8rem;
    line-height: 1.3;
    text-transform: uppercase;
}

a.nav-link.nav-link-active{
    background:#002051;
    color: white !important;
}

#sidebar-menu ul li a:hover{
    background:#002051;
    color: white;
    text-decoration: none;
}

#sidebar-menu ul li a.is_accordion::after{
    font-family: "Font Awesome 5 Free";
    margin-left: 0.255em;
    font-weight: 900;
    content: "\f0d7";
}

#mc-header{
    background: #002051;
    padding: 10px 15px;
    margin-bottom: 30px;
}
#mc-header #sidebarCollapse{
    font-size: 0.8rem;
    line-height: 1;
}
#mc-header .navbar-brand{
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin: 0 1rem;
    text-decoration: none;
    white-space: nowrap;
    font-size: 0.8rem;
    line-height: 1;
}

#main-content{
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 0 !important;
}
#main-content.active-main-content {
    width: calc(100% - 300px);
}


