.btn-danger {
    background-color: $danger;
    border-color: $danger;
    color: $white;

    &:hover {
        background-color: darken($danger, 10%);
        border-color: darken($danger, 10%);
        color: $white;
    }

    &:focus,
    &.focus {
        box-shadow: 0 0 0 0.2rem rgba(214, 51, 132, 0.5);
    }

    &:disabled,
    &.disabled {
        background-color: $danger;
        border-color: $danger;
        color: $white;
    }
}

.btn-black {
    background-color: $black;
    border-color: $black;
    color: $white;

    &:hover {
        background-color: darken($black, 10%);
        border-color: darken($black, 10%);
        color: $white;
    }

    &:focus,
    &.focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
    }

    &:disabled,
    &.disabled {
        background-color: $black;
        border-color: $black;
        color: $white;
    }
}


@keyframes pulse-shadow {
    0% {
        box-shadow: 0 0 0 0 rgba($primary, 0.7);
    }

    50% {
        box-shadow: 0 0 0 10px rgba($primary, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba($primary, 0);
    }
}

.btn-pulse {
    animation: pulse-shadow 2s infinite;
    transition: transform 0.3s ease;
}

.btn-pulse:hover {
    transform: scale(0.95);
}
